<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiddencallrecorder">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="HiddenCallRecorder" android:icon="@mipmap/ic_launcher">
        <service android:name=".CallRecorderService"
            android:enabled="true"
            android:exported="false"/>
    </application>
</manifest>
